* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding-left: 100px;
    background-color: #ffffff;
    color: black;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  /*  flex-direction: column;*/
}

header .logo{
    margin-left: 100px;
    margin-bottom: -15px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
  /*  display: inline;*/
    margin: 0 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 280px; /* Cambiado a 280px para vista móvil */
    max-width: 280px; /* Limita el ancho a 280px */
    margin: auto; /* Centra el carrusel */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(100% * 6); /* Asegura que el contenedor tenga suficiente ancho */
}

.carousel img {
    width: 280px; /* Ancho fijo para las imágenes en vista móvil */
    height: auto; /* Mantiene la proporción */
    flex: 0 0 auto; /* Asegura que cada imagen ocupe su espacio */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

main {
    padding: 20px;
    width: 100%;
    max-width: 280px; /* Limita el ancho a 280px */
}

main h2{
    text-align: center;
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

/* Media queries para pantallas más grandes */
@media (min-width: 600px) {
    .carousel {
        width: 320px; /* Aumenta el ancho para pantallas más grandes */
        max-width: 320px;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}
